task/wsdl/workflow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ext"
  xmlns:xroad="http://x-road.eu/xsd/xroad.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  name="Workload" targetNamespace="ext">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="ext">
      <xs:element name="UpdateDocumentAndCommitIn">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="workflowId" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="taskTemplateId" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="documentDataObject" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:annotation>
                    <xs:documentation>Must be a valid JSON object.</xs:documentation>
                  </xs:annotation>
                  <xs:pattern value="\{.*\}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="certificate" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="file" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Base64 encoded string</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="additionalDataSignature" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Base64 encoded string</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="attachmentsSignature" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Base64 encoded string</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="UpdateDocumentAndCommitOut">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="task" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="workflowId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="documentId" type="xs:string" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="finished" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="finishedAt" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>

    <xs:schema xmlns="http://x-road.eu/xsd/identifiers" xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
      elementFormDefault="qualified" jxb:version="2.1"
      targetNamespace="http://x-road.eu/xsd/identifiers">
      <xs:complexType name="XRoadIdentifierType">
        <xs:annotation>
          <xs:documentation>Globally unique identifier in the XROAD system. Identifier consists of
            object type specifier and list of hierarchical codes (starting with code that identifies
            the XROAD instance).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" ref="xRoadInstance" />
          <xs:element minOccurs="0" ref="memberClass" />
          <xs:element minOccurs="0" ref="memberCode" />
          <xs:element minOccurs="0" ref="subsystemCode" />
          <xs:element minOccurs="0" ref="serviceCode" />
          <xs:element minOccurs="0" ref="serviceVersion" />
        </xs:sequence>
        <xs:attribute ref="objectType" use="required" />
      </xs:complexType>

      <xs:simpleType name="XRoadObjectType">
        <xs:annotation>
          <xs:documentation>Enumeration for XROAD identifier types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MEMBER" />
          <xs:enumeration value="SUBSYSTEM" />
          <xs:enumeration value="SERVICE" />
          <xs:enumeration value="CENTRALSERVICE" />
        </xs:restriction>
      </xs:simpleType>

      <xs:element name="xRoadInstance" type="xs:string">
        <xs:annotation>
          <xs:documentation>Identifies the XROAD instance. This field is applicable to all
            identifier types.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="memberClass" type="xs:string">
        <xs:annotation>
          <xs:documentation>Type of the member (company, government institution, private person,
            etc.)</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="memberCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Code that uniquely identifies a member of given member type.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="subsystemCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Code that uniquely identifies a subsystem of given XROAD member.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="serviceCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Code that uniquely identifies a service offered by given XROAD member or
            subsystem.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="serviceVersion" type="xs:string">
        <xs:annotation>
          <xs:documentation>Version of the service.</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:attribute name="objectType" type="XRoadObjectType" />

      <xs:complexType name="XRoadClientIdentifierType">
        <xs:complexContent>
          <xs:restriction base="XRoadIdentifierType">
            <xs:sequence>
              <xs:element ref="xRoadInstance" />
              <xs:element ref="memberClass" />
              <xs:element ref="memberCode" />
              <xs:element minOccurs="0" ref="subsystemCode" />
            </xs:sequence>
            <xs:attribute ref="objectType" use="required" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="XRoadServiceIdentifierType">
        <xs:complexContent>
          <xs:restriction base="XRoadIdentifierType">
            <xs:sequence>
              <xs:element ref="xRoadInstance" />
              <xs:element ref="memberClass" />
              <xs:element ref="memberCode" />
              <xs:element minOccurs="0" ref="subsystemCode" />
              <xs:element ref="serviceCode" />
              <xs:element minOccurs="0" ref="serviceVersion" />
            </xs:sequence>
            <xs:attribute fixed="SERVICE" ref="objectType" use="required" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>

    <xs:schema xmlns="http://x-road.eu/xsd/xroad.xsd" xmlns:id="http://x-road.eu/xsd/identifiers"
      elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/xroad.xsd">
      <xs:import namespace="http://x-road.eu/xsd/identifiers" />
      <xs:element name="version" type="xs:string" />
      <xs:element name="client" type="id:XRoadClientIdentifierType" />
      <xs:element name="service" type="id:XRoadServiceIdentifierType" />
      <xs:element name="userId" type="xs:string" />
      <xs:element fixed="4.0" name="protocolVersion" type="xs:string" />
      <xs:element name="id" type="xs:string" />
      <xs:element name="title">
        <xs:annotation>
          <xs:documentation>Title</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string" />
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="notes">
        <xs:annotation>
          <xs:documentation>Notes for user</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string" />
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="UpdateDocumentAndCommitIn">
    <wsdl:part element="tns:UpdateDocumentAndCommitIn" name="parameters" />
  </wsdl:message>

  <wsdl:message name="UpdateDocumentAndCommitOut">
    <wsdl:part element="tns:UpdateDocumentAndCommitOut" name="parameters" />
  </wsdl:message>

  <wsdl:message name="requestHeader">
    <wsdl:part element="xroad:protocolVersion" name="protocolVersion" />
    <wsdl:part element="xroad:id" name="id" />
    <wsdl:part element="xroad:userId" name="userId" />
    <wsdl:part element="xroad:service" name="service" />
    <wsdl:part element="xroad:client" name="client" />
  </wsdl:message>

  <wsdl:portType name="WorkflowSoapPortType">
    <wsdl:operation name="UpdateDocumentAndCommit">
      <wsdl:input message="tns:UpdateDocumentAndCommitIn" name="UpdateDocumentAndCommitIn" />
      <wsdl:output message="tns:UpdateDocumentAndCommitOut" name="UpdateDocumentAndCommitOut" />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="WorkflowSoap" type="tns:WorkflowSoapPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDocumentAndCommit">
      <soap:operation soapAction="extUpdateDocumentAndCommit" style="document" />
      <wsdl:input name="UpdateDocumentAndCommitIn">
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
        <soap:header message="tns:requestHeader" part="id" use="literal" />
        <soap:header message="tns:requestHeader" part="userId" use="literal" />
        <soap:header message="tns:requestHeader" part="service" use="literal" />
        <soap:header message="tns:requestHeader" part="client" use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateDocumentAndCommitOut">
        <soap:body use="literal" />
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal" />
        <soap:header message="tns:requestHeader" part="id" use="literal" />
        <soap:header message="tns:requestHeader" part="userId" use="literal" />
        <soap:header message="tns:requestHeader" part="service" use="literal" />
        <soap:header message="tns:requestHeader" part="client" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="WorkflowService">
    <wsdl:port binding="tns:WorkflowSoap" name="WorkflowSoap">
      <soap:address location="{{url}}/external-services/workflow/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>